body, html{
    position:relative;
    margin:0;
    padding:0;
}
#header{
    
}
#highlight{
    
}
#main{
}
#main-content{
    display:inline-block;
    width:100%;
}
#content{
    width:49%;
}
#left-sidebar{
    width:25%;
}
#right-sidebar{
    width:25%;  
}
#footer{
    
}
.main-region{
    display:block;
}
.column{
    display:inline-block;
    float:left;
}
.centered{
    width:75%;
    position: relative;
    margin:auto;
}
#tabs {
  margin-left:50px;
  height:35px;
}
#tabs ul{
  list-style-type: none;
  margin:0;
  float:left;
}
#tabs li{
  display:inline-block;
  border-left:1px solid grey;
  height:35px;
}
#tabs li:hover{
  background-color:#444444;
}
#tabs li a{
  display:inline-block;
  padding:8px;
  color:white;
  text-decoration:none;
}